[submodule "build/badger"]
	path = build/badger
	url = git@github.com:abw/Badger.git
[submodule "build/badger-database"]
	path = build/badger-database
	url = git@github.com:abw/Badger-Database.git
[submodule "build/contentity"]
	path = build/contentity
	url = git@github.com:abw/Contentity.git
